.search__form-input {
  margin-left: 30px;
  background-color: white;
  box-sizing: border-box;
  border: 0px;
  width: 100%;
  padding: 0;
  font-family: 'Roboto';
  font-size: 1rem;
  color: #1a1b22;
  outline: 0;
  outline-offset: 0;
}

.search__form-input:disabled {
  color: #b6bcbf;
  outline: 0;
  outline-offset: 0;
}

.search__form-input::placeholder {
  color: #b6bcbf;
  outline: 0;
  outline-offset: 0;
}


@media screen and (max-width: 767px) {
  .search__form-input {
    margin-left: 0;
    padding: 16px 20px;
    font-size: 1.12rem;
    border-radius: 100px;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .search__form-input {
      width: 256px;
      height: 56px;
      margin-bottom: 16px;
  }
}
