@import url(../search/__form/search__form.css);
@import url(../search/__form-input/search__form-input.css);
@import url(../search/__title/search__title.css);
@import url(../search/__subtitle/search__subtitle.css);
@import url(../search/__button/search__button.css);
@import url(../search/__container/search__container.css);

.search {
  position: relative;
}

@media screen and (max-width: 1023px) {
  .search {
    max-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .search {
    max-height: 480px;
  }
}


.search__error-hide {
  display:none;
}

.search__error {
    width: calc(100% - 50px);
    padding: 2px 19px;
    border-radius: 100px;
    color: #fff;
    background-color: #dc143c;
    font-size: 16px;
    position: absolute;
    top: -25px;
    left: 5px;
}
