.users__text {
  font-size: 1.12rem;
  line-height: 1.5;
  margin: 24px 0 0;
  width: 65%;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial';
}

@media screen and (max-width: 1023px) {
  .users__text {
    margin: 16px 0 0;
    width: 100%;
  }
}
